html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main, .main-content, section {
    flex: 1 0 auto; 
}

.gray-bg {
    background-color: #f5f5f5;
    min-height: 100vh;
}

.container-fluid {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}
