.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #800020;
    position: relative;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

    .section-title::after {
        content: '';
        width: 120px;
        height: 5px;
        background-color: #d4af37;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 2px;
    }

.page-title {
    font-weight: 800;
    letter-spacing: .2px;
}
